<div class="test">
Pp::{{ section.settings.text}}
</div>
{% schema %}
{
   "name": "test",
    "settings": [
     {
        "type": "text",
        "id": "text",
        "label": "Title",
        "default": "fff"
     }  
    ],
   "presets": [
    {
        "category": "Test",
        "name":"TEST"
    }
   ]
}
{% endschema %}
